@import "styles.css";
@import "header/style.css";

footer{
  display: grid;
  height: 30vh;
  width: 100%;
  place-items: center;
  background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
  font-family: 'Poppins', sans-serif;
}
.wrapper .button{
  display: inline-block;
  background-color: #fff;
  height: 60px;
  width: 60px;
  /* float: left; */
  margin: 0 5px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.5);
  transition: all 0.3s ease-out;
}
.wrapper .button:hover{
  width: 200px;
  
}
.wrapper .button .icon{
  display: inline-block;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-sizing: border-box;
  line-height: 60px;
}
.wrapper .button:nth-child(1):hover .icon{
    background: #333;
}
.wrapper .button:nth-child(2):hover .icon{
    background: #1da1fe;
}
.wrapper .button:nth-child(3):hover .icon{
      background: #dd2a7b;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
}

.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
    color: #333;
}
.wrapper .button:nth-child(2) span{
    color: #1da1fe;
}
.wrapper .button:nth-child(3) span{
    color: #dd2a7b;
}
