<footer>
    <div class="wrapper">
      <div class="button">
        <div class="icon"><a href="https://github.com/ananyahere"><i class="fab fa-github"></a></i></div>
        <span>GitHub</span>
      </div>
      <div class="button">
        <div class="icon"><a href="https://twitter.com/ananyaaahere"><i class="fab fa-twitter"></a></i></div>
        <span>Twitter</span>
      </div>
      <div class="button">
        <div class="icon"><a href="https://www.instagram.com/ananya.plant.emoji"><i class="fab fa-instagram"></a></i></div>
        <span>Instagram</span>
      </div>
    </div>
  </footer>