<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/styles.css">
  <link rel="stylesheet" href="./css/footer/style.css">
  <link rel="stylesheet" href="./css/header/style.css">
  <link rel="stylesheet" href="./css/modals/style.css">

  <script src="https://kit.fontawesome.com/8e41bdd404.js" crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;600&display=swap" rel="stylesheet"> 
  <link
    href="https://fonts.googleapis.com/css2?family=Convergence&family=Lato:wght@300;400;700;900&family=Mukta:wght@300;400;600;700;800&family=Noto+Sans:wght@400;700&display=swap"
    rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Convergence&display=swap" rel="stylesheet">
  <title>Index</title>
</head>

<body>
  <section>
    {{>header}}
    <form action="#">
      <div class="input1">
        <div class="form">
          <div class="hero">
            <input type="text" id="trackName" class="form_input" autocomplete="off" placeholder="">
            <label for="trackName" class="form_label">Track</label>
          </div>
        </div>
      </div>
      <div class="input2">
        <div class="form">
          <input type="text" id="artistName" class="form_input" autocomplete="off" placeholder="">
          <label for="artistName" class="form_label">Artist</label>
        </div>
      </div>
      <div class="button">
        <button type="button" class="btn-6" data-modal-target="#modal" ><span>gimme!</span></button>
      </div>
    </form>
    <div class="modal" id="modal">
      <div class="modal-header">
        <div class="title">
          <div class="track-name"></div>
          <div class="artist-name"></div>
        </div>
        <button data-close-button class="close-button">&times;</button>
      </div>
      <div class="modal-body">
          <div class="lyrics-body"></div>
          <div class="gif"></div>
      </div>
    </div>
    <div id="overlay"></div>
  </section>
  {{>footer}}
  <script src="/js/app.js"></script>
</body>
</html>